<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style type="text/css">
      .btn {
        width: 100px;
        height: 40px;
      }
      .preview-picture {
        width: 300px; min-height: 300px; border: 1px #f0f0f0 solid
      }
    </style>
</head>
<body>
    <button class="btn" id="J_UploadPictureBtn">上传图片</button>
    <hr/>
    test
    <script src="/js/index.js"></script>
</body>
</html>